# Chapter 14 - Databeses
Marla Odell

![alt text](Images/apartment-tables.png "Title")

**(14.1) Multiple Apartments:** Write a SQL query to get a list of tenants who are renting more than one
apartment.

```
SELECT TenantName
FROM Tenants
INNER JOIN 
    (SELECT TenantID 
     FROM AptTenants
     GROUP BY TenantID 
     HAVING COUNT(AptID)>1) MultiTenants
ON MultiTenants.TenantID = Tenants.TenantID
```

**(14.2) Open Requests:** Write a SQL query to get a list of all buildings and the number of open requests (Requests in which status equals 'Open').

``` 
SELECT BuildingName, ISNull(Count, 0) AS OpenRequests
FROM Buildings
LEFT JOIN
    (SELECT BuildingID, Count(*) AS OpenRequests
     FROM Apartments
     INNER JOIN Requests
         ON Apartments.AptID = Requests.AptID
     WHERE Requests.Status = 'Open'
     GROUP BY Apartments.BuildingID) CountedRequests
On Building.BuildingID = CountedRequests.BuildingID 
```

**(14.3) Close All Requests:** Building 11 is undergoing a major renovation. Implement a query to close all requests from apartments in this building.

```
UPDATE Requests
SET Satus = 'Closed'
WHERE AptID IN 
    (SELECT AptID
     FROM Apartments
     WHERE Building ID = 11)
```

**(14.4) Joins:** What are the different types of joins? Please explain how they differ and why certain types are better in certain situations.

I will explain based on two hypothetical tables: A, B. And use the following structure for reference: 

```SELECT ... FROM A [JOIN TYPE] B ON ...```
1. **Inner Join**: All records from A and B, where the condition is met.
2. **Full Outer Join**: All records from A and B, regarless if the condition(s) is met. 
3. **Left Outer Join**: All records from A, and the records from B where the condition(s) is met.
4. **Right Outer Join**: All records from B, and the records from A where the condition(s) is met.

**(14.5) Denormaiization:** What is denormaiization? Explain the pros and cons.

**Denormaiization** is when you store redundant values in tables (i.e., there are multiple ways to get the same information)

* Pros: Requires fewer joins, enables faster queries
* Cons: Complicates inserts and updates, introduces potential inconsistencies data, requires more storage

**(14.6) Entity-Relationship Diagram:** Draw an entity-relationship diagram for a database with companies, people, and professionals {people who work for companies).

![alt text](Images/people-professional-company.png "Title")

**(14.7) Design Grade Database:** Imagine a simple database storing information for students' grades. Design what this database might look like and provide a SQL query to return a list of the honor roll students (top 10%), sorted by their grade point average.

I would represent this database in three tables:
* Students: StudentID (int), Name (varchar)
* Courses: CourseID (int), Title (varchar), Instructor (varchar)
* Enrollment: StudentID (int), CourseID (int), Semester (int), Grade (float)

And query it as follows:
```
SELECT TOP 10 PERCENT AVG(Grade) AS GPA, Students.Name
FROM Enrollment
INNER JOIN Students 
    ON Students.StudentID = Enrollment.StudentID
GROUP BY StudentID
ORDER BY AVG(Grade)
```